{% extends "template.html" %}
{% load i18n %}
{% load static %}
{% block title %} GranSassoSkI  {% endblock %}
{% block navbarbkg %} accalascio {% endblock %}
{% block navbar %} 
<ul class="nav-list">
    <li class="nav-item">
    <a class="pure-button mybutton" href="montagna-attivita.html">B&B</a>
    </li>
    <li class="nav-item">

    <a class="pure-button mybutton" href="montagna-attrezzatura.html">appartamenti</a>
    </li>
</ul>
{% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
.ui-widget { font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif !important;} 
.ui-widget-content, .ui-widget-header{border:none !important;}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>

        var array = ["2017-02-14","2017-02-15"]
         var array = {{del_date|safe}} 
        function desabledate(date){
            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [ array.indexOf(string) == -1 ]
        }
        

        $(function() {
                $( "#start_date" ).datepicker({
                    beforeShowDay: desabledate,
                    defaultDate: "+1w",
                    changeMonth: true,
                    minDate: new Date(),
                    numberOfMonths: 1,
                    onSelect: function(date){
                        $("#end_date").datepicker("option",{ minDate: new Date(date)})
                    },
                    onClose: function( selectedDate ) {
                            $( "#id_start_date" ).datepicker( "option", "minDate", selectedDate );
                    }
                });

                $( "#end_date" ).datepicker({
                    beforeShowDay: desabledate,
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    onClose: function( selectedDate ) {
                            $( "#id_end_date" ).datepicker( "option", "minDate", selectedDate );
                    }
                });

        });
</script>

        
<section class="post">
    <div class="pure-img-responsive pure-g">
        <div class="pure-u-1-2 pure-u-md-1-2">
            {% if form_done %}
                Grazie per aver effettuato la prenotazione - ti abbiamo mandato una mail
                per confermare quello che hai scritto. 
                Ora devi aspettare la conferma. <br/>
                <h5>Riepilogo della richiesta</h5>
                <table>
                    <tr><td>Data Inizio</td><td>{{booking.start_date}}</td></tr>
                    <tr><td>Data Fine</td><td>{{booking.end_date}}</td></tr>
                    <tr><td>Note</td><td>{{booking.notes}}</td></tr>
                    <tr><td>Checkin </td><td>{{booking.checkin_time}}</td></tr>
                    <tr><td>Stanza </td><td>{{booking.room.title}}</td></tr>
                </table>
                
            {% else %}

            <table  class="table table-bordered table-hover table-striped ">
                <form  action="/{{LANGUAGE_CODE}}/book/{{room.id}}/" role="form" method="post">
                
                {{form.as_table}}
                {% csrf_token %}
                <td  style="text-align:center">
                <input class="btn btn-warning btn-sm" type="submit" value="Save" />
                </td>
                
                </form>
            </table>
            {% endif %}

        </div>
            <div class="pure-u-1-2 pure-u-md-1-2">
                <img class="post-avatar" alt="{{room.icon.name}}" style="float:left;" height="45" width="45" src="../../../../../static/img/rooms/{{room.icon|safe}}">

                <h3> &nbsp;  {{room.title}}  </h3>
                <h5>
                {% for fac in room.facilites.all %}
                    <img class="post-avatar no-border" alt="{{post.icon.name}}" height="45" width="45" src="../../../../../static/img/icons/{{fac.png|safe}}.png">
                {% endfor %}  
                </h5>
                
                <div class="post-description">
                    <p> {{room.text|safe}}  </p>
                </div>
                    <div class="post-images pure-g">
                    {% for image in room.images.all %}

                        <div class="pure-u-1 pure-u-md-1-4">
                            
                                <img alt="Photo of someone working poolside at a resort"
                                    class="pure-img-responsive"
                                    
                                    src="../../../../../static/uploads/{{image.content}}">
                            
                            <div class="post-image-meta">
                                <h3>{{room.name}}</h3>
                            </div>
                            <p class="post-description foto-desc">  </p>
                        </div>
                {% endfor %}  
                
            </div>
            </div>
            
            
    </div>

    
</section>
      
{% endblock %}