{% extends "template.html" %}
{% load static %}
{% block title %} GranSassoSkI  {% endblock %}
{% block navbarbkg %} eventi {% endblock %}
{% block navbar %} {% endblock %}

{% block content %}

<div class="posts">


<h1 class="content-subhead">...i prossimi eventi</h1>

{% for post in all_post %}
        <section class="post">
            <header class="post-header">
                

             <h2 class="post-title">{{post.title}}</h2>
                
            </header>

            <div class="post-description">
                <p> 
                    {{post.text|safe}}
                </p>
            </div>
        </section>  
{% endfor %} 

               
</div>
{% endblock %}

