{% extends "template.html" %}
{% load static %}
{% block title %} GranSassoSkI  {% endblock %}
{% block navbarbkg %} home {% endblock %}
{% block navbar %} {% endblock %}

{% block content %}

    <div class="pure-g">
        <div class="photo-box u-1 u-med-1-3 u-lrg-1-4">
            <a href="http://www.dillonmcintosh.tumblr.com/">
                <img src= {%static "/img/cornogr.jpg" %} alt="Corno Grande">
            </a>

            <aside class="photo-box-caption">
                <span>escursione sul <a href="http://www.dillonmcintosh.tumblr.com/">Corno Grande</a></span>
            </aside>
        </div>

        <div class="text-box u-1 u-med-2-3 u-lrg-3-4">
            <div class="l-box">
                <h1 class="text-box-head">GranSassoSky.it</h1>
                <h2 ></h2>
                <p class="text-box-subhead"><br/> affittacamere AccaLascio, escursioni, noleggio attrezzatura,
                cavalli, MBX, ciaspole, escursioni sulla neve, B&B</p>
                <p> <br/> Calascio, Abruzzo, Italy, Earth </p>
                <p> 
                    <a href="./"> ENG </a>
                    <a href="./"> ENG </a>
                </p>
            </div>
        </div>

        <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
            <a href="http://ngkhanhlinh.dunked.com/">
                <img src="./img/relax.jpg">
            </a>

            <aside class="photo-box-caption">
                <span>
                    by <a href="http://ngkhanhlinh.dunked.com/">Linh Nguyen</a>
                </span>
            </aside>
        </div>

        <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
            <a href="http://www.nilssonlee.se/">
                <img src="./img/majella.jpg">
            </a>

            <aside class="photo-box-caption">
                <span>
                    by <a href="http://www.nilssonlee.se/">Jonas Nilsson Lee</a>
                </span>
            </aside>
        </div>

        <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
            <a href="http://www.flickr.com/photos/rulasibai/">
                <img src="./img/horses.jpg"
                     alt="Flowers">
            </a>

            <aside class="photo-box-caption">
                <span>
                    by <a href="http://www.flickr.com/photos/rulasibai/">Horses & rides</a>
                </span>
            </aside>
        </div>

        <div class="photo-box u-1 u-med-1-2 u-lrg-1-3">
            <a href="http://www.flickr.com/photos/charliefoster/">
                <img src="./img/bike.jpg"
                     alt="Bridge">
            </a>

            <aside class="photo-box-caption">
                <span>
                    by <a href="http://www.flickr.com/photos/charliefoster/">Charlie Foster</a>
                </span>
            </aside>
        </div>

        <div class="photo-box photo-box-thin u-1 u-lrg-2-3">
            <a href="http://ngkhanhlinh.dunked.com/">
                <img src="./img/snow.jpg"
                     alt="Balloons">
            </a>

            <aside class="photo-box-caption">
                <span>
                    by <a href="http://ngkhanhlinh.dunked.com/">Linh Nguyen</a>
                </span>
            </aside>
        </div>

        <div class="photo-box photo-box-thin u-1 u-med-2-3">
            <a href="http://twitter.com/iBoZR">
                <img src="./img/ori.jpg"
                     alt="Rain Drops">
            </a>

            <aside class="photo-box-caption">
                <span>
                    by <a href="http://twitter.com/iBoZR">Thanun Buranapong</a>
                </span>
            </aside>
        </div>

        <div class="photo-box u-1 u-med-1-3">
            <a href="http://www.goodfreephotos.com/">
                <img src="./img/room.jpg" alt="Port">
            </a>

            <aside class="photo-box-caption">
                <span>
                    by <a href="http://www.goodfreephotos.com/">Yinan Chen</a>
                </span>
            </aside>
        </div>

<!--         <div class="u-1 form-box">
            <div class="l-box">
                <h2>Submit a Photo</h2>

                <form class="pure-form">
                    <input type="text" placeholder="Photo URL" required>
                    <input type="text" placeholder="Email">
                    <button type="submit" class="pure-button">Submit</button>
                </form>
            </div>
        </div> -->

        <div class="u-1">
            <div class="l-box">
                <h2>GranSassoSky</h2>

                <p>
                    Il progetto GranSassoSky nasce dall'impegno e l'amore per la montagna di Lorenzo e Mara. Lorenzo e' guida alpina certificata oltre ad essere un uomo non male, nonostante l'eta' che comunque avanza. 
                </p>


                <h3> Partner & Info</h3>
                 <div class="pure-g">
                 
                 
                        <div class="u-1 u-med-1-6 u-lrg-1-6">
                            <a href="http://www.dillonmcintosh.tumblr.com/">
                                <img class="pure-img-responsive" src="./img/partner/accompagnatore.png" alt="Corno Grande">
                            </a>

                        </div>
                        <div class="photo-box u-1 u-med-1-6 u-lrg-1-6">
                            <a href="http://www.dillonmcintosh.tumblr.com/">
                                <img class="pure-img-responsive" src="./img/partner/mountain.png" alt="Corno Grande">
                            </a>

                        </div>
                        <div class="photo-box u-1 u-med-1-6 u-lrg-1-6">
                            <a href="http://www.dillonmcintosh.tumblr.com/">
                                <img class="pure-img-responsive" src="./img/partner/paesionline.png" alt="Corno Grande">
                            </a>

                           
                        </div>
                        <div class=" u-1 u-med-1-6 u-lrg-1-6">
                            <a href="http://www.dillonmcintosh.tumblr.com/">
                                <img class="pure-img-responsive" src="./img/partner/parks-it.gif" alt="Corno Grande">
                            </a>

                        </div>
                         <div class=" u-1 u-med-1-6 u-lrg-1-6">
                            <a href="http://www.dillonmcintosh.tumblr.com/">
                                <img class="pure-img-responsive" src="./img/partner/tripadvisor.png" alt="Corno Grande">
                            </a>

                        </div>
                        <div class=" u-1 u-med-1-6 u-lrg-1-6">
                            <a href="http://www.dillonmcintosh.tumblr.com/">
                                <img class="pure-img-responsive" src="./img/partner/3bmeteo.png" alt="Corno Grande">
                            </a>

                        </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}